.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid grey;
  padding: 15px 0;
  font-size: clamp(12px , 3vw , 15px);
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }
  .price {
    padding: -10px;
  }
  .quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .arrow {
    cursor: pointer;
  }
  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}