.checkout-page {
  width: 55%;
  padding-top:80px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
  margin: 50px auto 0;
  font-size: clamp(.6rem , 4vw , 1rem);
  @media screen and (max-width:868px) {
    width:90%;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 25%;

      span {
        font-size: clamp(13px, 2vw, 16px);
      }

      &:last-child {
        width: 8%;
      @media screen and(max-width:768px){
display: none;  }
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: clamp(.6rem , 4vw , 1rem);
  }
  .test-warning {
    color: red;
    padding: 20px;
    font-size: clamp(.6rem , 4vw , 1rem);
  }
  button {
    margin: 30px;
    margin-left: auto;
  }
}