.sign-up {
  display: flex;
  flex-direction: column;
  width: 30vw;

  .title {
    margin: 10px 0;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 960px) {
  .sign-up {
    width: 60vw;
    margin: 0 auto;
  }
}
